.center_text {
    text-align: center;
    }

    body {
        background-image: url("../images/MazeSpace.jpg");
        background-size:cover;
      }

    .circle {
        height: 20px;
        width: 20px;
        background-color: green;
        border: 1px solid green;
        border-radius: 10px;
        position:absolute;
        top: 0px;
        left: 0px;
    }