.button {
    margin: auto;
    padding: 20px;
    
  }
  
  button {
    height: 50px;
    width: 120px;
   
  }

  .center_text {
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-shadow: 1px 1px 1px darkgrey;
    background-color: rgb(83, 7, 149);
    }

body {
  background-image: url("../images/MazeSpace.jpg");
  background-size:cover;
}
