.button {
    margin: auto;
    padding: 20px;
  }
  
  button {
    height: 50px;
    width: 120px;
  }

  .center_text {
    text-align: center;
    }
  
    .start {
      padding: 10px;
      border: dashed;
    }